<div>
  <form action="/favourities" method="POST">
    <input type="hidden" name="id" value="<%= home._id %>" />
    <button type="submit" class="bg-green-400 p-2 hover:bg-green-600">
      Add to Favourite
    </button>
  </form>
</div>

